# Merge DataFrames

This little example will show you howo to merge to data sets that comes in two different files. 

First, we need to import the modules `csv`, and `pandas` (which we want to abbreviate `pd`).

In [95]:
import csv, pandas as pd

Next, we read the file `people1.csv` into a dataframe using pandas build in csv reader.

In [96]:
df_people1 = pd.read_csv('people1.csv')

Next, we read the file `people2.csv`.

In [97]:
df_people2 = pd.read_csv('people2.csv')

Now, we want to concatenate both datasets, as both have the same format and similar data. Pandas allows to simply append one data frame to another through the `contcat` function: 

`pd.concat([DATA_FRAME_1, DATA_FRAME_2],ignore_index=True)`. Replace the two variables `DATA_FRAME_1` and `DATA_FRAME_2` by the data frames you want to concatenate. `ignore_index=True` tells python to create new indices for the resulting larger dataframe. This is useful as sometimes you might already have row indices in the two dataframes you want to combine; however, both frames start counting at 0 and when combining them, you cannot have two indices with the same value. You should set `ignore_index=False` if you are 100% sure that you have different indices in each file and want to keep them like that.

More informations on merges can be found here: https://pandas.pydata.org/pandas-docs/stable/merging.html.
 
Concat the two dataframes for `person1.csv` and `person2.csv`:

In [98]:
df_people = pd.concat([df_people1,df_people2], ignore_index=True)
df_people

    Name   Height   Shoe Size
0  Devin      175         9.0
1   Pela      178         8.5
2    Jer      182        11.0
3  Kevin      150         9.0
4  Jenny      145         6.0
5     Jo      170         6.0

# Loading JSON files

Besids CSV, Pandas can also load JSON file using:

`pd.read_json(FILE_NAME, orient=INDEX_FIELD)`

This function loads a file with the name `FILE_NAME` and sets the attribute `INDEX_FIELD` as the row label. 

Load `people.json` into a variable called `favourites`, using the attribute field `index` as labels:

In [99]:
df_favorite = pd.read_json('people.json', orient='index')
df_favorite

              favourite book   favourite tv favourite food
kevin     Catcher in the Rye  Downton Abbey            NaN
jenny  To Kill a Mockingbird   Downton Abey            NaN
jo              Oliver Twist     Doctor Who            NaN
devin                    NaN   Donton Abbey            NaN
Pela                     NaN     Doctor Who      Ice Cream

# Joining DataFrame

Similar to merges, joins aggregate two data frames. However, other than concatenating the rows, joins add columns to rows. That's the simple explanation. The truth is a litte more complicated. In fact, join needs labels to match rows in one dataframe to rows in another dataframe set because you can't assume the rows in both dataframes are in the same order.

Thus, before we can join two dataframes, we need to be sure there is a label fiel in each dataframe with the exact same labels that can be used for matching. 

Looking at our data frames: the one contining the `person1.csv` plus `person2.csv` and the one from `person.json`, some names are uppper and some are lower case. Let's fix that first. 

Can you set all names in your combined dataframe for `person1.csv` and `person2.csv` to lowercase? You can use the `.map(str.lower)` function on the selection that returns you the `Name` column of the respective dataframe.

In [100]:
import numpy as np
import pandas as pd


df_people['Name'] = df_people['Name'].map(str.lower)
df_people

    Name   Height   Shoe Size
0  devin      175         9.0
1   pela      178         8.5
2    jer      182        11.0
3  kevin      150         9.0
4  jenny      145         6.0
5     jo      170         6.0

Now, do the same for the `favourite` DataFrame. In this DataFrame, you can access the label field though `favourites.index`:

In [101]:
df_favorite.index = df_favorite.index.map(str.lower)
df_favorite

              favourite book   favourite tv favourite food
kevin     Catcher in the Rye  Downton Abbey            NaN
jenny  To Kill a Mockingbird   Downton Abey            NaN
jo              Oliver Twist     Doctor Who            NaN
devin                    NaN   Donton Abbey            NaN
pela                     NaN     Doctor Who      Ice Cream

Now, we can complete our join, using again the `merge` function: 

`merge(DATA_FRAME_1, DATA_FRAME_2, left_on=LABEL_1, right_on=True)`.

`DATA_FRAME_1` and `DATA_FRAME_2` are the two dataframes to join. `left_on` tells the function the column name of the `DATA_FRAME_1` that contains the labels. `right_on=True` tells the function that the labels in `DATA_FRAME_2` are in the index field. This is because our two dataframes have a slighly different internal structure. However, the `merge` function allows for merging a wide set of data frame formats.

Supplied with these parameters, pandas will merge the two dataframes so that each person has now 5 columns. 
    
More information here: https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

Can you merge all the dataframes (`person1.csv` and `person2.csv` with `favourite`?)

In [109]:
df_people
df_favorite

              favourite book   favourite tv favourite food
kevin     Catcher in the Rye  Downton Abbey            NaN
jenny  To Kill a Mockingbird   Downton Abey            NaN
jo              Oliver Twist     Doctor Who            NaN
devin                    NaN   Donton Abbey            NaN
pela                     NaN     Doctor Who      Ice Cream

In [102]:
pd_total = pd.merge(df_people, df_favorite, left_on='Name', right_index=True)

pd_total

,Name,Height,Shoe Size,favourite book,favourite tv,favourite food
0,devin,175,9.0,NaN,Donton Abbey,NaN
1,pela,178,8.5,NaN,Doctor Who,Ice Cream
3,kevin,150,9.0,Catcher in the Rye,Downton Abbey,NaN
4,jenny,145,6.0,To Kill a Mockingbird,Downton Abey,NaN
5,jo,170,6.0,Oliver Twist,Doctor Who,NaN

Given this dataframe, can you find which is the most popular tv show?

In [103]:
from collections import Counter
res = Counter(pd_total['favourite tv'])
res.most_common(1)[0][0]

'Doctor Who'

In [104]:
test_list1 = ('a','b','c')
test_list2 = ['x','y','z']
test_tuple = tuple(test_list2)
# test_list2 可以修改，tuple() 函数不是改变值的类型，而是返回改变类型后的值，原值不会被改变
test_list2[2] = '这是修改的'
#下面这行报错，元组不可修改
test_list1[2]

'c'