In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'Id' : ["id1","id2","id3","id4"],
                    'Age': [35, 67, 12, 24],
                    'Eyes': ['Blue', 'Blue', 'Grey', 'Brown'],
                    'Hair': ['Black', 'Black', 'Brown', 'Pink'],
                    'Name': ['Jon', 'Jack', 'Jim', 'Jen']
                     })
df1.set_index("Id")
df1

    Id  Age   Eyes   Hair  Name
0  id1   35   Blue  Black   Jon
1  id2   67   Blue  Black  Jack
2  id3   12   Grey  Brown   Jim
3  id4   24  Brown   Pink   Jen

In [3]:
df2 = pd.DataFrame({'Id' : ["id5","id6"],
                    'Age': [11, 23],
                    'Eyes': ['Yellow', 'Slate'],
                    'Hair': ['Green', 'Purple'],
                    'Name': ['Jo', 'Jun']})
df2

    Id  Age    Eyes    Hair Name
0  id5   11  Yellow   Green   Jo
1  id6   23   Slate  Purple  Jun

In [7]:
pd.concat([df1,df2],ignore_index=True)
# axis=0(default) index concat

    Id  Age    Eyes    Hair  Name
0  id1   35    Blue   Black   Jon
1  id2   67    Blue   Black  Jack
2  id3   12    Grey   Brown   Jim
3  id4   24   Brown    Pink   Jen
4  id5   11  Yellow   Green    Jo
5  id6   23   Slate  Purple   Jun

In [8]:
df3 = pd.DataFrame({
                    'FavFood': ['Chips', 'Cheese', 'Broccoli', 'Candyfloss'],
                    'NickName': ['Jonny', 'Jackie', 'Jimmy', 'Jenny']
                     })
df3

      FavFood NickName
0       Chips    Jonny
1      Cheese   Jackie
2    Broccoli    Jimmy
3  Candyfloss    Jenny

In [9]:
pd.concat([df1,df3],axis=1)
#axis = 1 column concat

    Id  Age   Eyes   Hair  Name     FavFood NickName
0  id1   35   Blue  Black   Jon       Chips    Jonny
1  id2   67   Blue  Black  Jack      Cheese   Jackie
2  id3   12   Grey  Brown   Jim    Broccoli    Jimmy
3  id4   24  Brown   Pink   Jen  Candyfloss    Jenny

In [11]:
df4 = pd.DataFrame({
                    'FavFood': ['Candyfloss', 'Chips', 'Bananas', ],
                    'NickName': ['Jenny', 'Jonny', 'Ray']
                     })
df4

      FavFood NickName
0  Candyfloss    Jenny
1       Chips    Jonny
2     Bananas      Ray

In [12]:
df4b = pd.DataFrame({'Ident': ["id4","id1","id12"],
                    'FavFood': ['Candyfloss', 'Chips', 'Bananas', ],
                    'NickName': ['Jenny', 'Jonny', 'Ray']
                     })
df4b

  Ident     FavFood NickName
0   id4  Candyfloss    Jenny
1   id1       Chips    Jonny
2  id12     Bananas      Ray

In [14]:
pd.merge(df1,df4b,left_on="Id",right_on="Ident")

    Id  Age   Eyes   Hair Name Ident     FavFood NickName
0  id1   35   Blue  Black  Jon   id1       Chips    Jonny
1  id4   24  Brown   Pink  Jen   id4  Candyfloss    Jenny

In [15]:
pd.merge(df1,df4b,left_on="Id",right_on="Ident",how="outer")

    Id   Age   Eyes   Hair  Name Ident     FavFood NickName
0  id1  35.0   Blue  Black   Jon   id1       Chips    Jonny
1  id2  67.0   Blue  Black  Jack   NaN         NaN      NaN
2  id3  12.0   Grey  Brown   Jim   NaN         NaN      NaN
3  id4  24.0  Brown   Pink   Jen   id4  Candyfloss    Jenny
4  NaN   NaN    NaN    NaN   NaN  id12     Bananas      Ray